<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta property="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    </head>
    <body>
        <header class="header">
            <div class="display-area">
                <h3>Jonas Marx</h3>
                <nav>
                    <ul>
                        <li>
                            <a class="link" target="_blank" href="https://github.com/jonasmarx">
                                <img src="/assets/img/github.svg" alt="Github">
                            </a>
                        </li>
                        <li>
                            <a class="link" target="_blank" href="https://www.linkedin.com/in/jonas-marx-367436193/">
                                <img src="/assets/img/linkedin.svg" alt="LinkedIn">
                            </a>
                        </li>
                        <li>
                            <a class="link" mailto="jonas_marx1@web.de">
                                <img src="/assets/img/email.svg" alt="Email">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <nav class="navigation">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about-me">About Me</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/articles">Articles</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="page-wrapper" >
            <h1> {{ page.title }} </h1>
            <section class="content-wrapper">
                {{ content }}
            </section>
        </div>
    </body>
</html>