<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta property="description" content="{{ page.description }}">
    </head>
    <body>
        <header>
            <div>
                <h2>Jonas Marx</h2>
                <ul>
                    <li>
                        <a href="https://github.com/jonasmarx">Github</a>
                    </li>
                    <li>
                        <a mailto="jonas_marx1@web.de">Mail</a>
                    </li>
                </ul>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about-me">About Me</a>
                    </li>
                    <li>
                        <a href="/projects-and-articles">Projects / Articles</a>
                    </li>
                </ul>
            </nav>
        </header>
        <h1> {{ page.title }} </h1>
        <section>
            {{ content }}
        </section>
    </body>
</html>